<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Alertas Core-PSE</title>
</head>

<body style="font-family:Tahoma, Geneva, sans-serif; font-size:12px;">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td></td>
		</tr>
		<tr>
			<td>
				<img src="{{ imageRepoURL }}/imagenes/logo-ath.png" alt="logo-ath"/>
				<!--img src="file:///C:/pse-core-config/mail/template/imagenes/logo-ath.png" alt="logo-ath"/-->
			</td>
		</tr>
		<tr>
			<td><hr style="background:#1C5094; color:#FFF; text-align:center; padding:2 0; margin:0;"></hr></td>
		</tr>
		<tr>
			<td><!--inicia la tabla adiconal-->
					<table width="600" border="0" cellspacing="0" cellpadding="0" style="background:#EAECEB;">
					 <tr>
						<td colspan="5" style="color:#336699; text-align:center; padding-top: 20px; font-size:25px;">Consolidado de Informacion</td>
					</tr>
					<tr>
						<td width="50">&nbsp;</td>
						<td width="150">&nbsp;</td>
						<td width="50">&nbsp;</td>
						<td width="150">&nbsp;</td>
						<td width="50">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td style="color:#336699; font-size:12px;">Estado Interno</td>
						<td>&nbsp;</td>
						<td style="color:#336699; font-size:12px;">Cantidad de transacciones</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
<!--inicia la tabla adiconal-->
				</table>
			</td><!--finaliza la tabla adicional-->
		</tr>
		<tr>
			<td><hr style="background:#1C5094; color:#FFF; text-align:center; padding:2 0; margin:0;"></hr></td>
		</tr>
		<tr>
			<td style="background:#EAECEB; font-size: 8px; text-align: center; color:#666666; padding: 13px 56px;">Aviso legal: El contenido de este mensaje y sus archivos adjuntos son confidenciales y uso exclusivo del Grupo Aval. 
			Se encuentran dirigidos s&oacute;lo para uso del destinatario al cual van enviados. Su reproducci&oacute;n, lectura y/o copia se encuentran prohibidas a 
			cualquier persona diferente a &eacute;ste y puede ser ilegal. Si usted lo ha recibido por error, inf&oacute;rmenoslo y elim&iacute;nelo de su correo. Las opiniones,
			informaciones, conclusiones y cualquier otro tipo de dato contenido en este correo electr&oacute;nico, no relacionados con la actividad del Grupo Aval, se entender&aacute;n como personales y de ninguna manera son avaladas por el Grupo Aval.
			</td>
		</tr>
		<tr>
			<td style="background:#EAECEB;">
				<center>
					<img src="{{ imageRepoURL }}/imagenes/logos-entidades.png" alt="logo-ath"/>
					<!--img src="file:///C:/pse-core-config/mail/template/imagenes/logos-entidades.png" alt="logo entidades"/-->
				</center>
			</td>
		</tr>
	</table>

</body>
</html>
